<table>
  <% if (card.test > 0) { %> <% card.test.forEach(test => {%>
  <tr>
    <td><%= test %></td>
    <td><%= test %></td>
    <td><%= test %></td>
    <td><%=test %></td>
  </tr>
  <% });%> <% }%>
</table>